<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Meu Portfolio {% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>Meu Portfolio</h1>
      <a href="{% url 'home' %}">Inicio</a>
      <a href="{% url 'project' %}">Projetos</a>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy; 2025 Portfolio desenvolvido por Breno Rodrigues</p>
    </footer>
  </body>
</html>
